
__pycache__/
*.py[cod]
*$py.class
*.so


.venv/
.venv-*/
venv/
env/
ENV/

build/
dist/
*.egg-info/


.ipynb_checkpoints/

tempCodeRunnerFile.py
.vscode/


.DS_Store
Thumbs.db


.env
.env.*
!.env.example
*.pem

